@(webJarAssets: WebJarAssets, requireJS: org.webjars.play.RequireJS, phrases: Seq[Phrase])(implicit flash: play.api.mvc.Flash, messages: Messages)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(webJarAssets, requireJS) {
  @flash.get("success").map { message =>
   <div class="alert alert-success">
     <strong>Done!</strong> @message
   </div>
  }

  <h1>¡Buenos días!</h1>

  <div class="alert alert-info">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
   <p>
    This application is used to showcase Playframework
    while learning basic Spanish phrases. This application showcases:
   </p> 
   <ul>
    <li><a href="http://www.playframework.com">Playframework 2.4</a></li>
    <ul>
     <li><a href="https://www.playframework.com/documentation/2.5.x/RequireJS-support">RequireJS Support</a></li>
     <li><a href="https://www.playframework.com/documentation/2.5.x/ScalaJavascriptRouting">Javascript Routing</a></li>
     <li><a href="https://www.playframework.com/documentation/2.5.x/ScalaForms">Scala Forms</a></li>
     <li><a href="https://www.playframework.com/documentation/2.5.x/ScalaCustomFieldConstructors">Custom Field Constructors</a></li>
     <li><a href="https://www.playframework.com/documentation/2.5.x/ScalaI18N">Messages and internationalization</a></li>
    </ul>
    <li><a href="http://requirejs.org/">RequireJS</a></li>
    <li><a href="http://www.webjars.org">WebJars</a></li>
    <li><a href="http://www.bootstrap.com">Bootstrap</a></li>
    <li><a href="https://jquery.com/">JQuery</a></li>
    <li><a href="http://www.slick.typesafe.com">Slick</a></li>
   </ul>
  </div>

  <h2>@Messages("phrases.list.title", phrases.size)</h2>
  <div>
   <div class="panel panel-default">
    <div class="panel-heading">Frases</div>
     <table class="phrase-tbl table table-striped">
      <thead>
       <tr>
        <th>Spanish</th>
        <th>English</th>
       </tr>
      </thead>
      <tbody>
      @for(p <- phrases) {
       <tr data-id="@p.id">
        <td>@p.spanish</td>
        <td>@p.english</td>
       </tr>
      }
      </tbody>
     </table>
   </div>
 </div>
}

