@(webJarAssets: WebJarAssets, requireJS: org.webjars.play.RequireJS)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pizarra (ALPHA)</title>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    <link rel='stylesheet' media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
    <link rel='shortcut icon' type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
    <script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
    @Html(requireJS.setup(routes.Assets.versioned("javascripts/main.js")))
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a href="/" class="navbar-brand">Pizarra</a>
        <ul class="nav navbar-nav pull-right">
          <li><a href="/add">Add</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Buscar...">
        </form>
      </div>
    </header>
    <div class="container">
      @content
    </div>
    @*-- Footer -- *@
    <footer></footer>
  </body>
</html>
